
body{
    font-family: Arial, Helvetica, sans-serif;
    /* background: #FFC900; */
}

.texto-primary{
    color: #000;
}

.link{
    text-decoration: none;
    font-weight: bold;
    color: #000
}


.a{
    background-color: red;
}
.a.css{
    vertical-align: sub;
}


.h1{
    background: #000;
    color: #fff;
    width: 100%;
    height: 200px;
    padding: 200px;
    margin: 50px;
}

.a{
    display: block;
    background: red;
    color: #000;
    
    /* ignora  */
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;

    /* no ignora  */
    margin-left: 10px;
    margin-right: 10px;
    /* vertical-align: sub; */
}

nav {
    background: #f4f4f4;
    margin: 50px;
}

ul li a{
    margin:0 20px;
}