@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --yellow: #F2CD5C;
    --yellow-50: #fff8e2;
    --green-50: #fff8e2;
    --red-50: #fff8e2;
    --purple: #5a2fda;
    --purple-100: #d5dfff;
    --white:#fff;
    --black: #000;
    --font:'Roboto', sans-serif;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--font);
    background: var(--white);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 100%;
    background: var(--purple-100);
    padding: 10px 5%;
    display: flex;
    align-items: center;
}

.nav-logo{
    width: 100%;
    height: auto;
}
.nav-logo img{
    width: 100px;
    height: auto;
}

.nav-menu{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.nav-item{
    display: inline;
    margin: 0  5px;
}

.nav-link{
    text-decoration: none;
    color: #5a2fda;
    font-weight: 500;
}
.nav-link:hover{
    color: var(--black);
    transition: .5s ease;
}

.footer{
    width: 100%;
    background: var(--purple);
    padding: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 12px;
    margin-top: auto;
}